h1{
    font-size: xx-large;
}
h3{
    display: inline;
}
p{
    font-size: larger;
    display: inline;
}
img{
    width: 20px;
}
div{
    padding: 15px 0px;}
p{
    
font-family: "Mukta Vaani", sans-serif;
}